ion-header {
  ion-toolbar {
    --background: var(--color-primary-base);
    --color: var(--color-primary-base-contrast);
  }
}

ion-content {
  --background: var(--color-primary-light);

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: var(--ion-background-color);
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  ion-input {
    --padding-start: 10px;
  }

  ion-button {
    margin-top: 20px;
  }
}
