<!-- Este archivo define la estructura HTML para la navegación por pestañas (tabs) de la aplicación. -->

<!-- Contenedor principal de las pestañas de Ionic. -->
<ion-tabs>
  <!-- Barra de pestañas que se posiciona en la parte inferior de la pantalla. -->
  <ion-tab-bar slot="bottom">
    <!-- Botón de pestaña para la sección "Home". -->
    <ion-tab-button tab="home" href="/tabs/home">
      <!-- Icono de Ionic para la pestaña "Home". -->
      <ion-icon name="layers-outline"></ion-icon>
      <!-- Etiqueta de texto para la pestaña "Home". -->
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <!-- Botón de pestaña para la sección "Add". -->
    <ion-tab-button tab="add" href="/tabs/add">
      <!-- Icono de Ionic para la pestaña "Accesibility". -->
      <ion-icon name="add-outline"></ion-icon>
      <!-- Etiqueta de texto para la pestaña "Accesibility". -->
      <ion-label>Add Task</ion-label>
    </ion-tab-button>
    <!-- Botón de pestaña para la sección "Search". -->
    <ion-tab-button tab="search" href="/tabs/search">
      <!-- Icono de Ionic para la pestaña "Search". -->
      <ion-icon name="search"></ion-icon>
      <!-- Etiqueta de texto para la pestaña "Search". -->
      Search
    </ion-tab-button>

    <!-- Botón de pestaña para la sección "Accesibility". -->
    <ion-tab-button tab="accesibility" href="/tabs/accesibility">
      <!-- Icono de Ionic para la pestaña "Accesibility". -->
      <ion-icon name="accessibility-outline"></ion-icon>
      <!-- Etiqueta de texto para la pestaña "Accesibility". -->
      <ion-label>Accesibility</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>