.filters-container {
    border-radius: 8px;
    padding: 8px;
    margin: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: var(--ion-color-light);

}

.filter-item {
    --background: var(--ion-color-light);
    --border-radius: 5px;
    margin-bottom: 8px;
    &:last-of-type {
        --inner-border-width: 0;    
    }
}


.sort-segment {
    margin-top: 10px;
    --background: var(--ion-color-light);
    border-radius: 5px;
    overflow: hidden;

    ion-segment-button {
        --background-checked: var(--ion-color-primary);
        --color-checked: var(--ion-color-primary-contrast);
        --indicator-color: transparent;
        border-radius: 0;
    }
}

ion-searchbar {
    --background: var(--ion-color-light);
    --border-radius: 10px;
    padding: 16px;
}
